<md-grid-list md-cols="3" md-row-height="6:5" md-gutter="8px">
    <md-grid-tile ng-repeat="book in books track by $index" class="background-white" ng-click="viewBook($index)">
        <md-card layout="column" layout-fill="">
            <div layout="row" layout-align="center center" class="md-padding" flex>
                <img src="/imageBook/{{book.image}}" style="width: 115px; height:175px">
            </div>

            <div class="tile-footer">
                <table style="color: white">
                    <tr>
                        <td><span class="text-color-green">Tên: </span></td>
                        <td>{{book.title}}</td>
                    </tr>
                    <tr>
                        <td><span class="text-color-green">Tác giả: </span></td>
                        <td>{{book.author.name}}</td>
                    </tr>
                    <tr>
                        <td><span class="text-color-green">NXB: </span></td>
                        <td>{{book.publisher.name}}</td>
                    </tr>
                    <tr>
                        <td><span class="text-color-green">Giá: </span></td>
                        <td>{{book.salePrice}}</td>
                    </tr>
                </table>
            </div>
        </md-card>
    </md-grid-tile>
</md-grid-list>